{% extends "admin/base_site.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Custom Admin by vsha96') }}</a></h1>
{% endblock %}


{% block content %}

    <h1>Report by ticket text and money</h1>

    <form action="{% url 'admin:report'%}" method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {{ form.as_table}}
        <input type="submit" value="Create report">
    </form>


    {% if report_result_list %}
    <table>
        {% for row_res in report_result_list %}
        <tr>
            {% for el in row_res %}
                <td>{{ el }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}


