{% load static %}
<link rel="stylesheet" href="{% static 'expenses/style.css' %}">


<h1>#{{account.pk}} {{ account.account_text }} -- ${{ account.money }}</h1>

<a href="{% url 'expenses:index' %}">Back to all accounts</a>

<div>
    <a href="{% url 'expenses:send_money' account.id %}">
            <input type="button" value="send money">
    </a>
</div>

<h2>Expenses:
    <!-- go to the form to add new ticket -->
    <a href="{% url 'expenses:add_ticket' account.id %}">
        <input type="button" value="add new">
    </a>
</h2>

{% if ticket_list %}
    <ul>
    {% for ticket in ticket_list %}
        <li> {{ ticket }} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tickets.</p>
{% endif %}